---
import BaseLayout from "../layouts/baseLayout.astro";
const title = "Sagar Velagala";
---

<style>
  .hero {
    margin-top: 10vh;
  }
  .hero-blurb {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 350px;
  }
  .surtitle {
    margin-block-end: 0;
  }
</style>

<BaseLayout title={title}>
  <div class="hero">
    <p class="surtitle">Hi! My name's</p>
    <h1>{title}.</h1>
    <section class="hero-blurb">
      <p>
        <strong>I'm a software engineer and data analyst.</strong>
        By day I build models, pipelines, and custom vizualization apps on Netflix's
        Data Science & Engineering team. By night, I like to code, cook, doodle,
        game, and learn about history and current events. I get a kick out of variety
        and prefer the full quote,
        <br /><br />
        <q
          >A jack of all trades is a master of none, <i
            >but oftentimes better than a master of one.</i
          >
        </q>
        <br /><br />
        If you'd like to get in touch, find me on
        <a href="https://www.linkedin.com/in/sagarvelagala/">LinkedIn</a>,
        <a href="https://www.instagram.com/sagarvxyz/">Instagram</a>,
        <a href="https://www.github.com/sagarvxyz">GitHub</a>, or send me an <a
          href="mailto:sagar.velagala@gmail.com">email</a
        >.
      </p>
    </section>
  </div>
</BaseLayout>
