---
import BaseLayout from '../layouts/baseLayout.astro';
const title = 'Sagar Velagala';
---

<style>
    .hero {
        margin-top: 10vh;
    }
    .hero-blurb {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        min-width: 350px;
    }
    .surtitle {
        margin-block-end: 0;
    }
</style>

<BaseLayout title={title}>
    <div class="hero">
        <p class="surtitle">Hi! My name's</p>
        <h1>{title}.</h1>
        <section class="hero-blurb">
            <p>
                <strong
                    >I'm an engineer, analyst, and (aspiring) cartoonist</strong
                >. By day I build data tools as an analytics engineer at
                Netflix. By night I doodle and write mildly funny jokes at <a
                    href="https://instagram.com/warmsidecomics"
                    >The Warm Side of The Pillow</a
                >. If you'd like to get in touch, find me on
                <a href="https://www.linkedin.com/in/sagarvelagala/">LinkedIn</a
                >, <a href="https://www.instagram.com/sagarvxyz/">Instagram</a>,
                or send me an <a href="mailto:sagar.velagala@gmail.com">email</a
                >!
            </p>
        </section>
    </div>
</BaseLayout>
