---
import BaseLayout from '../layouts/baseLayout.astro';
const title = 'Sagar Velagala';
---

<style>
    .hero {
        margin-top: 10vh;
    }
    .hero-blurb {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        min-width: 350px;
    }
    .surtitle {
        margin-block-end: 0;
    }
</style>

<BaseLayout title={title}>
    <div class="hero">
        <p class="surtitle">Hi! My name's</p>
        <h1>{title}.</h1>
        <section class="hero-blurb">
            <p>
                <strong>I'm a software engineer</strong> with a background in analytics.
                Right now I'm focused on managing cloud computing costs at Netflix.
                Feel free to get in touch on
                <a href="https://www.linkedin.com/in/sagarvelagala/">LinkedIn</a
                >,
                <a href="https://github.com/sagarvxyz">GitHub</a>, or by <a
                    href="mailto:sagar.velagala@gmail.com">email</a
                >!
            </p>
        </section>
    </div>
</BaseLayout>
