---
import BaseLayout from "../layouts/baseLayout.astro";
const title = "Sagar Velagala";
---

<BaseLayout title={title}>
	<section class="hero">
		<p class="surtitle">Hi! My name's</p>
		<h1>{title}.</h1>
	</section>
	<section class="content">
		<p>
			<strong>I'm a software engineer</strong> with a background in
			analytics. Feel free to get in touch on
			<a href="https://github.com/sagarvxyz">GitHub</a>,
			<a href="https://www.linkedin.com/in/sagarvelagala/">LinkedIn</a>, or
			<a href="mailto:sagar.velagala@gmail.com">email</a>.
		</p>
	</section>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		max-width: 800px;
	}
	.content {
		display: flex;
		flex-direction: column;
		max-width: 60%;
		min-width: 350px;
	}
</style>