---
import Page from "../layouts/BaseLayout.astro";
const pageTitle = "Sagar Velagala";
---

<Page pageTitle={pageTitle}>
    <main>
        <section class="hero">
            <p class="pre-title">Hi! My name's</p>
            <h1>Sagar Velagala.</h1>
            <p>
                <strong
                    >I'm a software engineer specializing in data and analytics.</strong
                > I've been an analyst, marketer, and engineer. I've worked in CPG,
                B2B SaaS, and entertainment. I've been the tenth employee, and the
                ten-thousandth. Today — I'm building data models, pipelines, and
                custom data viz apps at Netflix.
            </p>
            <p>
                Outside of work, I find myself learning... for fun! I'm usually
                reading, tinkering, or making time for some new project or
                hobby. I get a kick out of variety and prefer the full quote,

                <q
                    >A jack of all trades is a master of none, <strong
                        >but oftentimes better than a master of one</strong
                    >.</q
                >

                If you'd like to get in touch, find me on: <a
                    href="https://www.linkedin.com/in/sagarvelagala/"
                    target="_blank"
                    rel="noopener noreferrer">LinkedIn</a
                >,
                <a
                    href="https://www.github.com/sagarvxyz"
                    target="_blank"
                    rel="noopener noreferrer">GitHub</a
                >, or just send me an <a
                    href="mailto:sagar.velagala@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer">email</a
                >.
            </p>
        </section>
    </main>
</Page>

<style>
    .hero {
        max-width: var(--md);
        justify-self: start;
    }

    .pre-title {
        margin-bottom: -0.5rem;
        padding-left: 0.2rem;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
</style>
