---
import NavButton from "./NavButton.astro";
---

<header class="header">
    <div class="container">
        <a aria-label="logo" href="/" class="logo"> SV </a>
        <nav class="nav">
            <!-- <NavButton label="blog" variant="secondary" /> -->
        </nav>
    </div>
</header>

<style>
    .header {
        margin: 12px var(--page-margin);
        padding: 0;
    }

    .container {
        max-width: var(--md);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: var(--font-header);
        font-weight: 700;
        font-size: 1.25rem;
        text-decoration: none;
    }
</style>
