header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid var(--color-text);
  background-color: var(--color-background);
}

.container {
  display: flex;
  width: 100%;
  padding: 12px var(--page-margin);
  justify-content: space-between;
  align-items: center;

  @media (min-width: 68.75rem) {
    justify-self: center;
    max-width: var(--lg);
  }
}

.logo {
  font-family: var(--font-header);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

nav {
  align-self: end;
}
