---
const { meta } = Astro.props;
const schema = JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'Article',
    headline: meta.title,
    datePublished: new Date(meta.pubDate) || new Date(),
    author: {
        '@type': 'Person',
        name: meta.author || 'Sagar Velagala',
    },
});
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
        name="robots"
        content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />
    <title>{meta.title}</title>
    <meta name="author" content={meta.author || 'Sagar Velagala'} />
    <meta
        name="description"
        content={meta.description ||
            "A page on Sagar Velagala's personal website."}
    />
    <script type="application/ld+json" set:html={schema}></script>
</head>
