---
---

<button id="theme-button">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="lightbulb"
        viewBox="0 0 16 16"
    >
        <path
            d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"
        ></path>
    </svg>
</button>
<style>
    button {
        height: 2vh;
        width: 5vw;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        justify-content: end;
        align-items: center;
    }
    .lightbulb {
        height: 100%;
        fill: var(--text-mid);
    }
    .lightbulb:hover,
    .lightbulb:active {
        fill: var(--primary);
    }
</style>
<script>
    const toggleTheme = function () {
        const theme = window.sessionStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.classList.remove('dark');
            window.sessionStorage.setItem('theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            window.sessionStorage.setItem('theme', 'dark');
        }
    };
    const button = document.getElementById('theme-button');
    if (button) {
        button.addEventListener('click', function () {
            toggleTheme();
        });
    }
</script>
