---
---

<button id="theme-button">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="lightbulb"
        viewBox="0 0 16 16"
    >
        <path
            d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"
        ></path>
    </svg>
</button>
<style>
    button {
        height: 2.1rem;
        width: auto;
        background: transparent;
        border: none;
        padding: 0;
        margin: 1rem;
        cursor: pointer;
        justify-content: end;
        align-items: center;
    }
    .lightbulb {
        height: 100%;
        fill: var(--text-light);
    }
    .lightbulb:hover,
    .lightbulb:active {
        fill: var(--text);
    }
</style>
<script>
    const toggleTheme = function () {
        const theme = window.sessionStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.classList.remove('dark');
            window.sessionStorage.setItem('theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            window.sessionStorage.setItem('theme', 'dark');
        }
    };
    const button = document.getElementById('theme-button');
    if (button) {
        button.addEventListener('click', function () {
            toggleTheme();
        });
    }
</script>
