---
import Article from '../components/Article.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import '@fontsource/bitter/300.css';
import '@fontsource/bitter/400.css';
import '@fontsource/raleway/400.css';
import '@fontsource/raleway/700.css';
import '@fontsource/fira-code/400.css';
import '../utils/theme.js';
import '../styles/global.css';
---

<html>
    <Head meta={Astro.props} />
    <body>
        <Header />
        <Article>
            <slot />
        </Article>
    </body>
</html>
