---
import "../styles/global.css";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Sagar Velagala" />
        <meta name="description" content="Sagar Velagala's personal website" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{pageTitle}</title>
    </head>
    
    <body>
        <Header />
        <slot />
    </body>


</html>
