---
import Article from '../components/Article.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Styles from '../styles/global.astro';
const { title, author, pubDate } = Astro.props.frontmatter;
---

<html>
    <Head meta={Astro.props.frontmatter} />
    <body>
        <Header />
        <Article>
            <h1>{title}</h1>
            <subtitle>{author} - {pubDate}</subtitle>
            <slot />
        </Article>
        <Styles />
    </body>
</html>
