---
import Article from '../components/Article.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import '../styles/global.astro';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
    title: string;
    author: string;
    description: string;
    pubDate: string;
    tags: string[];
}>;

const { title, author, pubDate } = Astro.props.frontmatter;
---

<html>
    <Head meta={Astro.props.frontmatter} />
    <body>
        <Header />
        <Article>
            <h1>{title}</h1>
            <subtitle>{author} - {pubDate}</subtitle>
            <slot />
        </Article>
        <Footer />
    </body>
</html>
